:root {
    --red: #ef476f;
    --gray-blue: #839da5;
    --dark-blue: #073b4c;
    --background: #f5f0ef;

    --wavy-line: url(../images/doodles/wavy-line.png) no-repeat center/contain;
}

@media (min-width: 768px) {
    #contact-me .background-wave {
        bottom: 0;
        right: -10%;
        left: unset;
        height: 100%;
        transform: rotate(0);
    }

    #contact-me h2::before {
        right: -25px;
        left: unset;
        transform: unset;
    }

    #contact-me .content {
        flex-direction: row;
        gap: 48px;
        width: 100%;
    }

    #contact-me .content form {
        width: max-content;
        flex: 1;
    }

    #contact-me .content form div {
        width: 100%;
    }

    #contact-me .content form textarea {
        min-height: 150px;
    }

    #contact-me .content .info {
        align-self: flex-start;
        width: 300px;
    }
}

@media (min-width: 1200px) {
    #contact-me {
        gap: 60px;
    }

    #contact-me .background-wave {
        height: 120%;
    }

    #contact-me h2::before {
        bottom: -20px;
        right: -40px;
        width: calc(200px * 1.75);
        height: calc(14px * 1.75);
    }

    #contact-me .content {
        justify-content: space-between;
    }

    #contact-me .content form {
        max-width: 700px;
    }

    #contact-me .content form div {
        flex-direction: row;
    }

    #contact-me .content .info {
        width: 600px;
        gap: 32px;
    }

    #contact-me .content .info .socials {
        gap: 40px;
    }

    #contact-me .content .info .socials a {
        width: calc(36px * 1.4);
        height: calc(36px * 1.4);
    }

    #contact-me .content .info .socials a img {
        width: calc(21px * 1.4);
        height: calc(21px * 1.4);
    }
}
