footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--dark-blue);
    padding: 32px 16px;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

footer .links a {
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    color: var(--white);
}

footer .links a:hover {
    color: var(--gray);
}

footer .copyright {
    color: var(--gray);
    font-size: var(--font-size-xxs);
    text-align: center;
}

footer .copyright a {
    color: var(--white-color);
    font-weight: 600;
}
