footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    background-color: var(--dark-blue);
    padding: 32px 16px;
}

footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

footer .links a {
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    color: var(--white);
}

footer .links a:hover {
    color: var(--gray);
}

footer .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

footer .socials a {
    height: 52px;
    width: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
}

footer .socials a:hover {
    background-color: var(--red);
}

footer .socials a img {
    width: 32px;
    height: 32px;
}

footer .copyright {
    color: var(--gray);
    font-size: var(--font-size-xxs);
    text-align: center;
}

footer .copyright a {
    color: var(--white);
    font-weight: 600;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
}
