:root {
    --white: #ffffff;
    --gray: #d9d9d9;
    --dark-blue: #073b4c;
    --red: #ef476f;

    --title-font: "Montserrat";

    --font-size-xs: 18.66px;
    --font-size-xxs: 14px;
}

@media (min-width: 1200px) {
    footer .links a {
        font-size: var(--font-size-xs);
    }

    footer .socials {
        gap: 40px;
    }

    footer .socials a {
        height: 52px;
        width: 52px;
    }

    footer .socials a img {
        width: 32px;
        height: 32px;
    }
}
