#home {
    background-color: var(--background);
}

#home .background-wave {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 450px;
    z-index: -1;
}

#home .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

#home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

#home .images-container {
    position: relative;
}

#home .images-container .blob {
    height: 225px;
    width: 216px;
    transform: rotate(30deg);
}

#home .images-container .blob-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 215px;
    width: 205px;
    object-fit: cover;
    mask: var(--blob);
}

#home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#home .content h1::before {
    content: "";
    background: var(--double-line);
    position: absolute;
    bottom: -15px;
    right: 5px;
    width: 135px;
    height: 17px;
    z-index: -1;
}

#home .buttons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#home .buttons-container a .text {
    color: var(--white);
}

#home .buttons-container a .icon {
    height: 20px;
    width: 20px;
}

#home .download-resume {
    transition: 0.5s ease all;
}

#home .download-resume.complete {
    background-color: #50c878;
}

#home .download-resume .text {
    color: white;
    pointer-events: none;
    transition: 0.5s ease all;
}

#home .download-resume .icon {
    width: 24px;
    height: 24px;
    transition: 0.5s ease all;
}

#home .download-resume.complete .icon {
    transform: scale(1.2);
    opacity: 0.8;
}

@media (min-width: 768px) {
    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #home .container {
        width: 100%;
        flex-direction: row-reverse;
        gap: 52px;
    }

    #home .images-container {
        align-self: flex-start;
    }

    #home .images-container .blob {
        height: calc(225px * 1.2);
        width: calc(216px * 1.2);
    }

    #home .images-container .blob-image {
        height: calc(215px * 1.2);
        width: calc(205px * 1.2);
    }

    #home .content {
        flex: 1;
        align-items: flex-start;
        max-width: 375px;
        gap: 32px;
    }

    #home .content h1::before {
        width: calc(145px * 1.2);
        height: calc(17px * 1.2);
    }
}

@media (min-width: 1200px) {
    #home {
        padding-top: 44px;
    }

    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    #home .images-container .blob {
        height: calc(225px * 2);
        width: calc(216px * 2);
    }

    #home .images-container .blob-image {
        height: calc(215px * 2);
        width: calc(205px * 2);
    }

    #home .content {
        max-width: 100%;
        gap: 60px;
    }

    #home .content h1::before {
        bottom: -30px;
        width: calc(145px * 2.25);
        height: calc(17px * 2.25);
    }

    #home .buttons-container {
        justify-content: flex-start;
    }

    #home .buttons-container a .icon {
        height: 24px;
        width: 24px;
    }
}
