#home {
    background-color: var(--background);
    position: relative;
    overflow: hidden;
    width: 100%;
}

#home .background-wave {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 450px;
    z-index: 0;
}

#home .container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
}

#home .navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#home .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

#home .image-container {
    position: relative;
}

#home .image-container .blob {
    height: 225px;
    width: 216px;
    transform: rotate(30deg);
}

#home .image-container .blob-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 215px;
    width: 205px;
    object-fit: cover;
    mask-image: url("../images/doodles/blob.png");
    mask-repeat: no-repeat;
    mask-size: cover;
}

#home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#home .content .title-container {
    position: relative;
    width: max-content;
}

#home .content .title-container .double-line {
    position: absolute;
    bottom: -15px;
    right: 5px;
    width: 135px;
    height: 17px;
}

#home .button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#home .button-container button .text {
    color: var(--white);
}

#home .button-container button .icon {
    height: 22px;
    width: 22px;
}

#home canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#home .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#home .buttons-container button {
    all: unset;
    cursor: pointer;
    background-color: black;
    color: white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease background-color;
}

#home .buttons-container button:hover {
    background-color: var(--black-color-light);
}

#home .download-cv:not(active).complete {
    background-color: #50c878;
}

#home .download-cv .text {
    color: white;
    pointer-events: none;
}

#home .download-cv .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 24px;
    height: 24px;
    pointer-events: none;
}

#home .download-cv .icon i {
    position: absolute;
    transform: translateY(0);
    opacity: 1;
    transition: 0.15s ease transform, 0.15s ease opacity;
}

#home .download-cv .icon i.exiting {
    transform: translateY(100%);
    opacity: 0;
}

#home .download-cv .icon i.entering {
    transform: translateY(-100%);
    opacity: 0;
}

#home .download-cv .icon i.active {
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 768px) {
    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #home .content-container {
        width: 100%;
        flex-direction: row-reverse;
        gap: 52px;
    }

    #home .image-container {
        align-self: flex-start;
    }

    #home .image-container .blob {
        height: calc(225px * 1.2);
        width: calc(216px * 1.2);
    }

    #home .image-container .blob-image {
        height: calc(215px * 1.2);
        width: calc(205px * 1.2);
    }

    #home .content {
        flex: 1;
        align-items: flex-start;
        max-width: 375px;
        gap: 32px;
    }

    #home .content .title-container .double-line {
        bottom: -15px;
        width: calc(145px * 1.2);
        height: calc(17px * 1.2);
    }
}

@media (min-width: 1200px) {
    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    #home .image-container .blob {
        height: calc(225px * 2);
        width: calc(216px * 2);
    }

    #home .image-container .blob-image {
        height: calc(215px * 2);
        width: calc(205px * 2);
    }

    #home .content {
        max-width: 100%;
        gap: 60px;
    }

    #home .content .title-container .double-line {
        bottom: -30px;
        width: calc(145px * 2.25);
        height: calc(17px * 2.25);
    }

    #home .button-container {
        justify-content: flex-start;
    }
}
