:root {
    --white: #ffffff;
    --background: #f5f0ef;
    --green: #06d6a0;

    --blob: url(../images/doodles/blob.png) no-repeat center / cover;
    --double-line: url(../images/doodles/double-line.png) no-repeat
        center/contain;
}

@media (min-width: 768px) {
    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    #home .container {
        width: 100%;
        flex-direction: row-reverse;
        gap: 52px;
    }

    #home .images-container {
        align-self: flex-start;
    }

    #home .images-container .blob {
        height: calc(225px * 1.2);
        width: calc(216px * 1.2);
    }

    #home .images-container .blob-image {
        height: calc(215px * 1.2);
        width: calc(205px * 1.2);
    }

    #home .content {
        flex: 1;
        align-items: flex-start;
        max-width: 375px;
        gap: 32px;
    }

    #home .content h1::before {
        width: calc(145px * 1.2);
        height: calc(17px * 1.2);
    }
}

@media (min-width: 1200px) {
    #home {
        padding-top: 44px;
    }

    #home .background-wave {
        height: 100%;
        width: 100%;
        bottom: 0;
    }

    #home .images-container .blob {
        height: calc(225px * 2);
        width: calc(216px * 2);
    }

    #home .images-container .blob-image {
        height: calc(215px * 2);
        width: calc(205px * 2);
    }

    #home .content {
        max-width: 100%;
        gap: 60px;
    }

    #home .content h1::before {
        bottom: -30px;
        width: calc(145px * 2.25);
        height: calc(17px * 2.25);
    }

    #home .buttons-container {
        justify-content: flex-start;
    }

    #home .buttons-container a .icon {
        height: 24px;
        width: 24px;
    }
}
