#projects .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

#projects h2::before {
    content: "";
    background: var(--circle);
    position: absolute;
    top: -15px;
    right: 0;
    width: 90px;
    height: 72px;
    z-index: -1;
}

#projects .filter-container {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#projects .filter-container span {
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    color: var(--black);
}

#projects .filter-container select {
    all: unset;
    padding: 8px 16px;
    background-color: var(--background);
    border-radius: 100px;
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 500;
    text-transform: capitalize;
    color: var(--black);
    cursor: pointer;
}

#projects .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

#projects .project {
    background-color: var(--background);
    padding: 8px;
    border-radius: 28px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    transition: 0.3s ease all;
}

#projects .project:hover {
    box-shadow: var(--shadow);
    transform: translateY(-12px);
    background-color: var(--yellow);
}

#projects .project .images-container {
    width: 100%;
    height: 220px;
    border-radius: 26px 26px 8px 8px;
    overflow: hidden;
}

#projects .project .images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
}

#projects .project:hover .images-container img {
    transform: scale(1.1);
}

#projects .project .content {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
}

#projects .project .content .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

#projects .project .content .skills-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#projects .project .content .skills-container span {
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    color: var(--black);
}

#projects .project .content .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#projects .project .content .skills img {
    width: 21px;
    height: 21px;
}

#projects .project .content .links {
    display: flex;
    align-items: center;
    gap: 32px;
}

#projects .project .content .links .code {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#projects .project .content .links .code img {
    width: 21px;
    height: 21px;
}

#projects .project .content .links .code a {
    font-family: var(--text-font);
    font-size: var(--font-size-xxs);
    color: var(--black);
}

#projects .project .content .links .code:hover a {
    text-decoration: underline;
}

#projects .project .content .links .website {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#projects .project .content .links .website a {
    font-family: var(--text-font);
    font-size: var(--font-size-xxs);
    font-weight: 700;
    color: var(--black);
    text-decoration: underline;
}

#projects .project .content .links .website:hover a {
    text-decoration: none;
}

#projects .project .content .links .website img {
    width: 21px;
    height: 21px;
    transition: 0.3s ease all;
}

#projects .project:hover .content .links .website img {
    transform: translateX(8px);
}

#projects button {
    display: none;
}

#projects button.active {
    display: flex;
}

@media (min-width: 768px) {
    #projects {
        gap: 60px;
    }

    #projects .header {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    #projects .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #projects .project {
        width: 326px;
    }
}

@media (min-width: 1200px) {
    #projects .header {
        width: calc(350px * 3 + 32px * 2);
    }

    #projects h2::before {
        top: -20px;
        width: calc(100px * 1.5);
        height: calc(80px * 1.5);
    }

    #projects .filter-container {
        gap: 24px;
    }

    #projects .filter-container span {
        font-size: var(--font-size-xs);
    }

    #projects .filter-container select {
        padding: 16px 24px;
        font-size: var(--font-size-xs);
        font-weight: 600;
    }

    #projects .project {
        width: 350px;
        height: 480px;
    }

    #projects .project .content .info p {
        font-size: var(--font-size-xxs);
    }
}
