:root {
    --white: #ffffff;
    --red: #ef476f;
    --blue: #1188b0;
    --dark-blue: #073b4c;
    --light-blue: #e6ebed;
    --background: #f5f0ef;

    --title-font: "Montserrat";
    --text-font: "Roboto Slab";

    --font-size-xs: 18.66px;
    --font-size-xxs: 14px;

    --shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
        0px 12px 42px -4px rgba(24, 39, 75, 0.12);

    --wavy-line: url(../images/doodles/wavy-line.png) no-repeat center/contain;
}

@media (min-width: 768px) {
    #references .background-wave {
        top: 0;
        height: 100%;
    }

    #references .swiper {
        height: 420px;
    }
}

@media (min-width: 1200px) {
    #references .background-wave {
        top: -150px;
        height: 1006px;
        width: 1770px;
    }

    #references h2::before {
        left: calc(125px * 1.55);
        width: calc(129px * 1.55);
        height: calc(12px * 1.55);
    }

    #references .swiper {
        height: 525px;
    }

    #references .swiper-slide .reference a {
        font-size: var(--font-size-xs);
    }
}
