@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import url("./navigation.css");
@import url("./home.css");
@import url("./about-me.css");
@import url("./projects.css");
@import url("./contact-me.css");
@import url("./references.css");
@import url("./footer.css");

:root {
    --white: #ffffff;
    --black: #1d1616;
    --gray: #d9d9d9;
    --dark-blue: #073b4c;
    --blue: #1188b0;
    --light-blue: #e6ebed;
    --gray-blue: #839da5;
    --background: #f5f0ef;
    --background-2: #efe7e6;
    --red: #ef476f;
    --yellow: #ffd166;
    --green: #06d6a0;

    --title-font: "Montserrat";
    --subtitle-font: "Mako";
    --text-font: "Roboto Slab";

    --font-size-xxl: 78.54px;
    --font-size-xl: 58.92px;
    --font-size-lg: 44.2px;
    --font-size-m: 33.16px;
    --font-size-s: 24.88px;
    --font-size-xs: 18.66px;
    --font-size-xxs: 14px;

    --shadow: 0px 8px 18px -6px rgba(24, 39, 75, 0.12),
        0px 12px 42px -4px rgba(24, 39, 75, 0.12);
    --light-shadow: 0px 4px 6px -4px rgb(24, 39, 75, 0.12),
        0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 40px;
    background-color: var(--white);
}

section {
    width: 100%;
    height: 100%;
    border-radius: 44px;
    padding: 40px;
}

h1,
h2 {
    position: relative;
    font-family: var(--title-font);
    font-size: var(--font-size-m);
    color: var(--black);
    text-transform: capitalize;
    text-align: center;
    z-index: 1;
}

h3 {
    font-family: var(--title-font);
    font-size: var(--font-size-s);
    color: var(--black);
}

h4 {
    font-family: var(--subtitle-font);
    font-size: var(--font-size-xs);
    font-weight: 400;
    color: var(--black);
}

p {
    font-family: var(--text-font);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    color: var(--black);
}

a {
    text-decoration: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.button-container button {
    all: unset;
    width: 100%;
    height: 44px;
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    text-align: center;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    transition: 0.3s ease all;
}

.button-container button:hover {
    transform: translateY(-2px);
    background-color: var(--red);
    box-shadow: var(--light-shadow);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.logo .circle {
    background-color: var(--dark-blue);
    color: var(--white);
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 600;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .name {
    color: var(--dark-blue);
    font-family: var(--title-font);
    font-size: var(--font-size-xxs);
    font-weight: 600;
}

.open-menu {
    background-color: var(--dark-blue);
    color: var(--white);
    height: 32px;
    width: 32px;
    padding: 4px;
    border-radius: 12px;
    cursor: pointer;
}

.scroll-up {
    background-color: var(--dark-blue);
    position: fixed;
    right: 16px;
    bottom: -50%;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 0.3s ease all;
}

.scroll-up.active {
    bottom: 48px;
}

@media (min-width: 768px) {
    h1 {
        font-size: var(--font-size-lg);
    }

    .logo .name {
        font-size: var(--font-size-xs);
    }
}

@media (min-width: 1200px) {
    section {
        padding: 56px 72px;
    }

    h1 {
        font-size: var(--font-size-xxl);
    }

    h2 {
        font-size: var(--font-size-xl);
    }

    h4 {
        font-size: var(--font-size-s);
    }

    p {
        font-size: var(--font-size-xs);
    }

    .button-container {
        flex-direction: row;
    }

    .button-container button {
        width: 300px;
        height: 50px;
        font-size: var(--font-size-xs);
    }

    .scroll-up {
        right: 48px;
    }
}
