@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
    --white: #ffffff;
    --black: #1d1616;
    --dark-blue: #073b4c;
    --red: #ef476f;

    --title-font: "Montserrat";
    --subtitle-font: "Mako";
    --text-font: "Roboto Slab";

    --font-size-xxl: 78.54px;
    --font-size-xl: 58.92px;
    --font-size-lg: 44.2px;
    --font-size-m: 33.16px;
    --font-size-s: 24.88px;
    --font-size-xs: 18.66px;
    --font-size-xxs: 14px;

    --light-shadow: 0px 4px 6px -4px rgb(24, 39, 75, 0.12),
        0px 8px 8px -4px rgba(24, 39, 75, 0.08);
}

@media (min-width: 768px) {
    h1 {
        font-size: var(--font-size-lg);
    }

    .logo .name {
        font-size: var(--font-size-xs);
    }
}

@media (min-width: 1200px) {
    section {
        padding: 56px 72px;
    }

    h1 {
        font-size: var(--font-size-xxl);
    }

    h2 {
        font-size: var(--font-size-xl);
    }

    h4 {
        font-size: var(--font-size-s);
    }

    p {
        font-size: var(--font-size-xs);
    }

    .buttons-container {
        flex-direction: row;
    }

    .buttons-container a,
    button {
        width: 300px;
        height: 50px;
        font-size: var(--font-size-xs);
    }

    .scroll-up {
        right: 48px;
    }
}
